body {
  max-width: 960px;
  margin: 0 auto;
}

header .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

nav {
  margin-left: auto;
  margin-right: auto;
  margin: 20px 20px;
}

nav ul {
  display: inline-block;
   list-style-type: none;
  list-style: none;
  overflow: hidden;
}

nav ul li {
  float: left;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  nav ul li {

  }
}

nav ul li a {
  text-align: center;
  padding: 18px;
  display: block;
  width: 100%;
  background: #FFF;
  /* Old browsers */
  background: -moz-linear-gradient: #FFF;
  /* FF3.6+ */
  background: -webkit-gradient: #FFF;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient: #FFF;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient: #FFF;
  /* Opera 11.10+ */
  background: linear-gradient: #FFF;
}

nav ul li a, nav ul li a:focus, nav ul li a:visited, nav ul li a:hover, nav ul li a:active {
  color: #000;
  text-decoration: none;
}

nav ul li a:hover, nav ul li a:active {
  background: #F4F4F4;
  /* Old browsers */
  background: -moz-linear-gradient: #F4F4F4;
  /* FF3.6+ */
  background: -webkit-gradient: #F4F4F4;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient:#F4F4F4;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient: #F4F4F4;
  /* Opera 11.10+ */
  background: linear-gradient: #F4F4F4;
}
